<h1>Statystyki</h1>
<button onclick="window.location.href='/statystyki/sprzedazdnia'" class="btn btn-dark">Sprzedaż dnia</button>
<button onclick="window.location.href='/statystyki/sprzedazrozmiarowek'" class="btn btn-dark">Sprzedaż rozmiarówek</button>
<button onclick="window.location.href='/statystyki/sprzedazmiesieczna'" class="btn btn-dark">Sprzedaż miesięczna</button>